body {
    font-family: "Poppins";
    margin: 0;
}

.cabecalho {
    font-size: 30px;
    font-weight: 300;
}

.banner {
    background: #ffe6ff;
}

.titulo {
    padding: 40px 20%;
    background: #ffe6ff;

}

.titulo-texto {
    font-size: 65px;
    font-weight: 600;
    text-align: center;
    line-height: 65px;
}

.titulo-botao {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.segundo-botao {
    margin-top: 30px;
}

.botao-preto {
    border-radius: 2px;
    background-color: black;
    color: white;
    font-family: 'Poppins';
    border: none;
    padding: 12px 16px;
    cursor: pointer;
}

.conteudo {
    padding: 5% 20%;
}

.texto-pequeno {
    font-size: 10px;
    line-height: 8px ;
}

.padding-padrao {
    padding: 0 20%;
}

footer {
    line-height: 10px;
    margin-top: 30px;
    padding: 20px 10px;
    background-color: black;
    font-family: "Poppins";
    color: white;
}

